body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:69px;
  top:129px;
  width:561px;
  height:311px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:312px;
}
#u1 {
  position:absolute;
  left:2px;
  top:148px;
  width:557px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:69px;
  top:39px;
  width:337px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:28px;
  color:#003399;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:69px;
  top:84px;
  width:561px;
  height:35px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:36px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:557px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:98px;
  top:93px;
  width:464px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:90px;
  top:86px;
  width:70px;
  height:31px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:170px;
  top:86px;
  width:60px;
  height:31px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:246px;
  top:86px;
  width:60px;
  height:31px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:320px;
  top:86px;
  width:60px;
  height:31px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:394px;
  top:86px;
  width:96px;
  height:31px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:89px;
  top:202px;
  width:480px;
  height:35px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:31px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:115px;
  top:0px;
  width:360px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:31px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:307px;
  top:400px;
  width:70px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u23_input {
  font-family:'应用字体';
}
#u24 {
  position:absolute;
  left:172px;
  top:139px;
  width:68px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u24_input {
  font-family:'应用字体';
}
#u25 {
  position:absolute;
  left:172px;
  top:172px;
  width:68px;
  height:22px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u25_input {
  font-family:'应用字体';
}
#u26 {
  position:absolute;
  left:91px;
  top:235px;
  width:114px;
  height:24px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:24px;
  background-image:;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26_input {
  font-family:'应用字体';
}
#u27 {
  position:absolute;
  left:207px;
  top:236px;
  width:97px;
  height:22px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u27_input {
  font-family:'应用字体';
}
#u28 {
  position:absolute;
  left:307px;
  top:235px;
  width:76px;
  height:24px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u28_input {
  font-family:'应用字体';
}
#u29 {
  position:absolute;
  left:487px;
  top:235px;
  width:76px;
  height:24px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u29_input {
  font-family:'应用字体';
}
#u30 {
  position:absolute;
  left:386px;
  top:236px;
  width:97px;
  height:22px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u30_input {
  font-family:'应用字体';
}
#u31 {
  position:absolute;
  left:276px;
  top:143px;
  width:280px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:92px;
  top:175px;
  width:66px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:92px;
  top:146px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:564px;
  top:235px;
  width:30px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37_input {
  font-family:'应用字体';
}
#u38 {
  position:absolute;
  left:596px;
  top:235px;
  width:30px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u38_input {
  font-family:'应用字体';
}
